---
import { Button } from "m3-svelte";
import githubLogo from "../images/logos/github.svg?raw";

interface Props {
  path: string;
  urlPath?: string;
  text?: string;
}

const { path, urlPath = path, text } = Astro.props;

const printText = `github.com/${path}`;
---

<>
  <!-- @ts-expect-error Expression produces a union type that is too complex to represent -->
  <Button
    client:load
    variant="text"
    href={`https://github.com/${urlPath}/`}
    target="_blank"
  >
    <span class="github-logo" set:html={githubLogo} />
    {
      text ? (
        <>
          <span class="screen">{text}</span>
          <span class="print">{printText}</span>
        </>
      ) : (
        printText
      )
    }
  </Button>
</>
<style>
  .github-logo,
  .github-logo :global(svg) {
    width: 24px;
    height: 24px;
  }
  .github-logo :global(path) {
    fill: currentColor;
  }
</style>
