---
import { Image } from "astro:assets";
import { render, type CollectionEntry } from "astro:content";
import { Card } from "m3-svelte";
import Button from "./Button.astro";
import GithubButton from "./GithubButton.astro";
import TimePeriod from "./TimePeriod.astro";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;

const { Content } = await render(project);
---

<article class="project">
  <Card variant="elevated">
    <Image
      src={project.data.image}
      layout="constrained"
      width={792}
      height={446}
      position="top"
      format="avif"
      alt=""
    />
    <div class="content gap-16">
      <header>
        <h1 class="title">{project.data.title}</h1>
        <TimePeriod
          startDate={project.data.startDate}
          endDate={project.data.endDate}
        />
      </header>
      <Content />
      <div class="buttons gap-8">
        <GithubButton
          path={project.data.githubRepository}
          urlPath={project.data.githubUrlPath}
          text="Quellcode"
        />
        {
          project.data.additionalButtons?.map((button) =>
            button.printOnly ? (
              <div class="print">
                <Button
                  variant="text"
                  href={button.href}
                  icon={button.icon}
                  text={button.text}
                  target="_blank"
                />
              </div>
            ) : (
              <Button
                variant="text"
                href={button.href}
                icon={button.icon}
                text={button.text}
                target="_blank"
              />
            ),
          )
        }
      </div>
    </div>
  </Card>
</article>
<style>
  h1 {
    margin: 0;
  }
  .gap-8 {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .gap-16 {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .project {
    break-inside: avoid;
  }
  .project > :global(.m3-container) {
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }
  .content {
    padding: 16px;
  }
  header {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    justify-content: space-between;
  }
  .buttons {
    flex-flow: row wrap;
  }
  @media print {
    .buttons {
      flex-flow: column;
      align-items: flex-start;
    }
  }
</style>
